* {
  margin: 0;
  padding: 0;
  /* 기본적으로 전체적으로 마진이 살짝 들어가 있어서 그걸 없애주는 역할, *은 전체를 의미함 */
}

#header {
  height: 64px;
  background-color: black;
  border-bottom: 1px solid gray;
}
#body {
  min-height: 100vh;
  background-color: blue;
  width: 1024px;
  margin: 0 auto;
  /* 자식이 부모를 기준으로 가운데 정렬 */
  padding-bottom: 24px;
}
#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}
#banner {
  height: 300px;
  background-color: yellow;
}
#header-area {
  width: 1024px;
  height: 100%;
  background-color: orange;
  margin: 0 auto;

  display: flex;
  align-items: center;
  /* 세로로 중간 */
  justify-content: center;
  /* 가로로 중간 */
}
#header-area > img {
  width: 128px;
  height: 36px;
}
#banner > img {
  width: 100%;
}
#body > h1 {
  margin-top: 16px;
}
#product-list {
  display: flex;
  flex-wrap: wrap;
  /* wrap기능은 나열할때 줄바꿈을 해주는 기능 */
}

.product-card {
  width: 180px;
  height: 300px;
  background-color: white;
  margin-right: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 12px;
  overflow: hidden;
  /* 자식이 영역을 침범(오버플로우)했을때 하이드 해주는 기능 */
}
.product-images {
  width: 100%;
  height: 210px;
}
.product-contents {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.product-name {
  font-size: 14px;
}
.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}
.product-seller {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.product-avatar {
  width: 24px;
}
.product-link {
  color: inherit;
  text-decoration: none;
}
