* {
  margin: 0;
  padding: 0;
  /* 기본적으로 전체적으로 마진이 살짝 들어가 있어서 그걸 없애주는 역할, *은 전체를 의미함 */
  line-height: normal;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

#header {
  height: 64px;
  background-color: black;
  border-bottom: 1px solid gray;
}
#header-area {
  width: 1024px;
  height: 100%;
  background-color: orange;
  margin: 0 auto;

  display: flex;
  align-items: center;
  /* 세로로 중간 */
  justify-content: space-between;
  /* 가로로 중간 */
}
#header-area img {
  width: 128px;
  height: 36px;
}
#body {
  /* min-height: 100vh; */
  height: 100vh;
  background-color: blue;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  /* 자식이 부모를 기준으로 가운데 정렬 */
  padding-bottom: 24px;
}
#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}
